{% extends 'shop/basic.html' %}

<!--Item cards-->
{% block body%}

{% block css%}
<style>
  .carsouler-container{
    height: 250px;
  }
</style>

{% endblock %}


{% load static %}

<div class="carsouler-container">
  <div class="slider-product">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/media/shop/images/products1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/media/shop/images/products.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/media/shop/images/products2.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>

{% for product,range in allProducts%}
<div class="Product-container">
 <h1>{{product.0.subCategory}}</h1>
  <div class="item-cards">
    {% for i in product%}
    <div class="card" style="width: 18rem" height="9rem">
      <img src="/media/{{i.image}}" class="card-img-top" alt="product image" width="280px" height="180px" />
      <div class="card-body">
        <h5 class="card-title" id="namepr">{{i.product_name}}</h5>
        <p class="card-text">{{i.product_desc|slice:"0:100"}}</p>
        <b> <p class="card-text">Rs.{{i.price}}</p></b>
        <span id="divprod{{i.id}}" class="divprod">
        <button id="prod{{i.id}}" class="btn btn-primary cart">Add to cart</button>
      </span>
        <a href="/productView/{{i.id}}">
          <button id="productview" class="btn btn-primary">Product View</button>
        </a>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>
{% endfor %} 

{% endblock %}